<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/component/btn/btn.css">
    <link rel="stylesheet" href="/styles/component/card/cards.css">
    <link rel="stylesheet" href="/styles/component/header/header.css">
    <title>{{title | default: "Drop & heal"}}</title>
</head>
<body data-theme="{{themeColor | default: blue}}">
{% if id %}
    {% render './partials/decor/Mesh-Grad-{{ id }}.liquid', classes: "glow"  %}
{% endif %}
