{% assign taskLink = "/" | append: foundTheme %}
{% assign partialLink = taskLink | append: "/" | append: pageId %}
{% assign dropsLink = partialLink | append: "/drops" %}
{% assign commentLink = partialLink | append: "/comment" %}
{% render './partials/head.liquid'
  , themeColor: foundTheme
  , id: id
  , open: open %}
<main>
  <img
    src="https://fdnd-agency.directus.app/assets/{{ image }}"
    alt=""
    loading="eager">
  <p>titel van de opdracht:</p>
  <h1 class="xxl">{{ title }}</h1>
  {{ description }}

  {% render './partials/btn/regular-btn.liquid'
    , text: "Klaar"
    , link: commentLink %}

  {% render './partials/dialog/comment-dialog.liquid'
    , link: dropsLink
    , taskLink: taskLink 
    , error: error
    , open: open %}
</main>
{% render './partials/footer.liquid' %}