{% render './partials/head.liquid'
  , theme: foundTheme
  , id: id
  , type: type %}
<main>
  <img src="https://fdnd-agency.directus.app/assets/{{ image }}" alt="">
  <p>titel van de opdracht:</p>
  <h1 class="xxl">{{ title }}</h1>
  {{ description }}
  {% if type == "schrijf" %}
    {% render './partials/dialog/comment-dialog.liquid' %}
  {% endif %}
</main>
{% render './partials/footer.liquid' %}