<form
  action="{{link}}"
  method="post"
  class="dialog">
  <input
    type="hidden"
    name="person"
    value="Marcin">
  <header>
    {% if open %}
      <p class="dialog-title">Toegevoegd aan {% render './partials/icons/drops.liquid' %} drops
      </p>
    {% endif %}

    {% render './partials/btn/regular-btn.liquid'
      , text: "X"
      , strip: true
      , classes: "close"
      , link: closeLink %}
  </header>
  <div class="input-container"></div>
  <label>
    <input
      type="text"
      name="message"
      required>
  </label>
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <label>
    <input
      type="checkbox"
      value="anoniem"
      name="anonymous">
    Bericht anoniem plaatsen</label>
  <div class="submission-container">
    <button
      class="regular-btn ghost"
      name="concept"
      value="true">
      <img
        src="/assets/icons/save.svg"
        alt="save icon"
        class="saveIcon">
      Misschien later</button>
    <button
      class="regular-btn"
      name="concept"
      value="false">{{ text }}</button>
  </div>
</form>