/* algemene styling */

@view-transition {
  navigation: auto;
}
/* CSS reset & font */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--figtree);
  /* normal */
  font-weight: 400;
  font-size: 1rem;
}
/* height instellen */
html,
body {
  height: 100%;
}
/* default bg en color op default color op alle tekst */
body {
  @media screen and (min-width: 960px) {
    padding: 0 4.875rem;
  }
  position: relative;
  > .glow {
    @media screen and (max-width: 960px) {
      display: none;
    }
      top: -65%;
      left: -700px;
      position: absolute;
      z-index: -1;
      overflow: visible;
      path,
      g,
      rect {
        overflow: visible;
      }
    }
  background: var(--default-bg);
  * {
    color: var(--white);
  }
}

main{
  @media screen and (max-width: 960px) {
    padding: 0 1.5rem;
  }
}
/* CSS reset & font */
a {
  color: inherit;
  text-decoration: none;
}
/* CSS reset */
ul,
li {
  list-style-type: none;
}

/* font styling */
.xxl {
  font-size: clamp(1.875rem, 6vw, var(--size-xxl));
  font-family: var(--calvino);
  font-weight: 800;
  line-height: 0.9;
}

.xl {
  font-size: var(--size-xl);
}

.lg {
  font-size: var(--size-lg);
}

.md {
  font-size: var(--size-md);
}

.sm {
  font-size: var(--size-sm);
}

.xs {
  font-size: var(--size-xs);
}

.xxs {
  font-size: var(--size-xxs);
}

.default {
  font-size: var(--size-default);
}

/* font weights */
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

/* font families */
.font-calvino {
  font-family: var(--calvino);
}

.font-figtree {
  font-family: var(--figtree);
}

/* MARK: util classes
 */
.central {
  justify-items: center;
  gap: 1.5rem;
  height: 100%;
  display: grid;
  place-content: center;
  & > * {
    max-width: 20rem;
  }
}

.text-center{
  text-align: center;
}
/* util classes end  */

/* MARK: Exercise dialog
 */
dialog{
  background: var(--default-bg);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  --top-offset: 20vh;
  position: fixed;
  top: var(--top-offset);
  height: calc(100vh - var(--top-offset));
  width: 100%;
}
/* Exercise dialog end */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-container {
  height: 4rem;
  aspect-ratio: 1;
  border-radius: 0.75rem;
}
